body{
    background-color: burlywood;
    position: relative;
    margin: 0 auto ;
    width: 80vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.miformulario{
    border-radius: 1vw;
    padding: 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #25252533;
}

#recetario{
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap:2vw;
    border-radius: 1vw;
    padding: 5px;
    div{
        border-radius: 1vw;
        
        background-color: #25252533;
        display: flex;
        flex-direction: column;
        padding: 5px;
        p{
            
            margin-top: 0;
        }
    }
}

#filtro{
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    
}

.botones{
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.eliminar{
    background-color: #79010180;
    border-radius: 1vw;
    border:  2px solid white;
    padding: 5px 10px;
    cursor: pointer;
}


.editar{
    background-color: #25252533;
    border-radius: 1vw;
    border:  2px solid white;
    padding: 5px 10px;
    cursor: pointer;
}